<aside class="col-lg-3 column3 d-lg-block d-none">
    <div class="sticky-top bg-white pb-2">
        <div class="search-box">
            <input class="search-txt" type="text" placeholder="Search twitter">
            <a class="search-btn" href="#"><i class="fas fa-search"></i></a>
        </div>
    </div>
    <div class="trends_for_you">
        <h3>Trends for you</h3>
        <div class="trend">
            <button class="float-end border-0"><i class="fas fa-ellipsis-h"></i></button>
            <p>holiday</p>
            <p class="trend_name">Halloween</p>
            <p>2.42M Tweets</p>

        </div>
        <div class="trend">
            <button class="float-end border-0"><i class="fas fa-ellipsis-h"></i></button>
            <p>trending in Sweden</p>
            <p class="trend_name">Amoo</p>
            <p>2M Tweets</p>
        </div>
        <div class="trend">
            <button class="float-end border-0"><i class="fas fa-ellipsis-h"></i></button>
            <p>Politics</p>
            <p class="trend_name">Somalia</p>
            <p>2,156 Tweets</p>
        </div>
        <button class="showmore">Show more</button>
    </div>
    <div class="infobox">
        <span><a href="#">Terms of service</a></span>
        <span><a href="#">Privacy policy</a></span>
        <span><a href="#">Cookie Policy</a></span>
        <span><a href="#">Ads info</a></span>
        <span><a href="#">More</a></span>
        <span style="font-size: 10px;">&copy; 2021 Twitter,Inc</span>
    </div>
    <div class="btn-group dropup col-3 offset-9 fixed-bottom border border-3 rounded">
        <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            message
            <i class="far fa-envelope"></i></button>
        <ul class="dropdown-menu">
            <li>hej du har ett meddelande!</li>
        </ul>
    </div>


</aside>