<nav class="col-lg-3 col-md-3 col-sm-2 d-sm-block d-none navigationbar">

    <ul class="nav flex-column sticky-top">

        <li class="nav-brand">
            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">
                <span><i class="fas fa-home"></i></span>
                <span class="nav-item__text">Home</span></a>
        </li>
        <li class="nav-item d-lg-inline d-none">
            <a class="nav-link" href="#">
                <span><i class="fas fa-hashtag"></i></span>
                <span class="nav-item__text">Explore</span></a>
        </li>
        <li class="nav-item d-lg-none d-block">
            <a class="nav-link" href="#">
                <span><i class="fas fa-search"></i></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="far fa-bell"></i></span>
                <span class="nav-item__text">Notification</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="far fa-envelope"></i></span>
                <span class="nav-item__text">Messages</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="far fa-bookmark"></i><span>
                <span class="nav-item__text">Bookmarks</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="far fa-list-alt"></i><span>
                <span class="nav-item__text">Lists</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">
                <span><i class="far fa-user-circle"></i></span>
                <span class="nav-item__text">Profile</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="fas fa-ellipsis-h"></i></span>
                <span class="nav-item__text">More</span></a>
        </li>
        <li>
            <button class="btn btn-dark twittericon d-md-block d-none">Twitt</button>
            <button class="btn btn-primary rounded-pill d-block d-md-none"><i class="fas fa-feather-alt"></i></button>
        </li>
        <li>
            <div class="user_account ">
                <a href="/user"><img class="account_icon " src="https://pbs.twimg.com/profile_images/1455181325489553418/RbbUMWoQ_bigger.png " alt="icon "></a><br>
                <a class="text-decoration-none d-md-block d-none "><!--%=username%--></a><br>
                
            </div>
        </li>
        <li><a href="/createuser">create a user</a></li>
    </ul>

</nav>