

 <div class="col-2">
    <img class="icon" src="https://pbs.twimg.com/profile_images/1450901581876973568/0bHBmqXe_bigger.png" alt="twitch">
</div>
<div class="col-10">
    <p><a href="#" ><%=user.username%></a> <i class="fas fa-ellipsis-h float-end"></i> </p>
    <%posts.forEach(post=>{%>
        <article>Content: <%=post.content%></article>
        <date>Created At : <%=post.createdAt%></date>
     <%})%>
   
    <div class="comments">
        <i class="far fa-comment">1</i>
        <i class="fas fa-retweet">2</i>
        <i class="far fa-heart">3</i>
        <i class="far fa-share-square"></i>
    </div>
</div>